<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CSS Styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <!-- Adobe Type Kit Font -->
    <link rel="stylesheet" href="https://use.typekit.net/bii5xdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="./style.css">
    <title>The Most Pawsome Online Pet Community!</title>
</head>

<body>
    <nav class="navbar has-shadow is-white" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img src="/images/logo.png" alt="Best Paws Logo" style="max-height: 50px">
            </a>
            <a class="navbar-burger" id="burger" role="button">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links" role="button">
            <div class="navbar-end">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/account">My Account</a>
                <a class="navbar-item" href="/forum">Forum</a>
                <a class="navbar-item" href="/contact">Contact Us</a>
                {{#if loggedIn}}
                    <a class="navbar-item" href="/" id="logout">Logout</a>
                {{else}}
                    <a class="navbar-item" href="/login">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>

    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>&copy; 2021 Best Paws created by:<a href="https://github.com/a-ukp" class="nav-item"> a-ukp</a>,<a href="https://github.com/Pgturn68" class="nav-item"> PGTurn68</a>,<a href="https://github.com/DLP713" class="nav-item"> Cesar D</a>,<a href="https://github.com/MohammedOttun" class="nav-item"> MohammedOttun</a>, and<a href="https://github.com/WitnessMyHands" class="nav-item"> WitnessMyHands</a>.</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="/public/script.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.0.2/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 900,
    });
</script>
</body>

</html>