<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CSS Styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <!-- Adobe Type Kit Font -->
    <link rel="stylesheet" href="https://use.typekit.net/bii5xdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <title>Find Dog Park Near You with Best Paws!</title>
</head>

<body>
    <!-- Universal Nav Bar -->
    <nav class="navbar has-shadow is-white" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="./assets/images/logo.png" alt="Best Paws Logo" style="max-height: 50px">
            </a>
            <a class="navbar-burger" id="burger" role="button">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links" role="button">
            <div class="navbar-end">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/account">My Account</a>
                <a class="navbar-item" href="/forum">Forum</a>
                <a class="navbar-item" href="/contact">Contact Us</a>
                <a class="navbar-item" href="/login">Login or Sign Up</a>
            </div>
        </div>
    </nav>

    {{{body}}}

</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; 2021 Best Paws created by:<a href="https://github.com/WitnessMyHands" class="nav-item">
                WitnessMyHands</a>,<a href="https://github.com/a-ukp" class="nav-item"> a-ukp</a>,<a
                href="https://github.com/Pgturn68" class="nav-item"> PGTurn68</a> and<a
                href="https://github.com/ramflorez" class="nav-item"> ramflorez</a>.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="./script.js" type="text/javascript"></script>

</html>