<section class="container">
    <div class="columns">
        <!-- Start Account Card -->
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                        <img src="./images/avatar.png" alt="Placeholder Image">
                        </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Pawlsum</p>
                            <p class="subtitle is-6">@pawlsum</p>
                        </div>
                    </div>
                
                    <div class="content">
                        <a href="https://twitter.com/search?q=%23DogsofTwittter&src=typeahead_click&f=live">#K9CREW</a> <a href="https://twitter.com/search?q=%23CatsofTwittter&src=typeahead_click&f=live">#felineGOOD</a>
                    </div>
                </div>
            </div>
            <br />

            <a class="button is-primary is-block is-alt" href="/forum">New Post</a>
        </div>
        <!-- End Account Card -->
        <!-- Start Comment Feed -->
        <div class="column is-9">
            <div class="box content">
            <!-- Start Posts -->
            <article class="post">
                <h4>Pet Care: How often should I take my dog to the vet?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@wolf</a> replied 34 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 63</span>
                </div>
            </div>
            </article>
            <br />
            <article class="post">
                <h4>Pet Care: Why does my cat scratch my furniture?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@tiger</a> replied 12 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 88</span>
                </div>
            </div>
            </article>
            <br />
            <article class="post">
                <h4>Pet Friendly Restaurants and Bars: What are the best spots in the Galleria to take your dog?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@coyote</a> replied 28 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 32</span>
                </div>
            </div>
            </article>
            <!-- End Posts -->
            </div>
        </div>
</section> --}}


