<section class="container">
    <div class="columns">
        <!-- Start Account Card -->
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                        <img src="/assets/images/avatar.png" alt="Placeholder Image">
                        </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Run Happy</p>
                            <p class="subtitle is-6">@runhappy</p>
                        </div>
                    </div>
                
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                        <!-- No Link -->
                        <a href="#">#K9CREW</a> <a href="#">#felineGOOD</a>
                    </div>
                </div>
            </div>
            <br />
            <a class="button is-primary is-block is-alt" href="#">New Post</a>
        </div>
        <!-- End Account Card -->
        <!-- Start Comment Feed -->
        <div class="column is-9">
            <div class="box content">
            <!-- Start Posts -->
            <article class="post">
                <h4>Pet Care: How often should I take my dog to the vet?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@wolf</a> replied 34 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 21</span>
                </div>
            </div>
            </article>
            <br />
            <article class="post">
                <h4>Pet Care: How often should I take my dog to the vet?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@wolf</a> replied 34 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 21</span>
                </div>
            </div>
            </article>
            <br />
            <article class="post">
                <h4>Pet Care: How often should I take my dog to the vet?</h4>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <a href="#">@wolf</a> replied 34 minutes ago &nbsp;
                    </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 21</span>
                </div>
            </div>
            </article>
            <!-- End Posts -->
            </div>
        </div>
</section>