<section class="section">
    <div class="container">
        <div class="column">
            <div class="box content" role= "navigation">
                <a class="box-content" href="/posts"></a>    
                <h3>
                    TOPIC: General Pet Information
                </h3>
                <h5>
                    Find general information about dogs and cats.
                </h5>
                <div class="control">
                    <button class="button is-primary">Go to General Topic</button>
                </div>

                <div class="media">
                    <div class="media-content">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <div class="box content" role= "navigation">
                <a class="box-content" href="/posts"></a>    
                <h3>
                    TOPIC: Pet Friendly Restaurants/Bars/Places
                </h3>
                <h5>
                    Find places for you and your four legged friend.
                </h5>
                <div class="control">
                    <button class="button is-primary">Go to Pet Friendly Places</button>
                </div>

                <div class="media">
                    <div class="media-content">	
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <div class="box content" role= "navigation">
                <a class="box-content" href="/posts"></a>    
                <h3>
                    TOPIC: Pet Care
                </h3>
                <h5>
                    Keep your pet healthy and happy.
                </h5>
                <div class="control">
                    <button class="button is-primary">Go to Pet Care</button>
                </div>

                <div class="media">
                    <div class="media-content">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <div class="box content" role= "navigation">
                <a class="box-content" href="/posts"></a>    
                <h3>
                    TOPIC: Breed Talk
                </h3>
                <h5>
                    Find info on breeds and what breed is best for you.
                </h5>
                <div class="control">
                    <button class="button is-primary">Go to Breed Talk</button>
                </div>

                <div class="media">
                    <div class="media-content">
                </div>
            </div>
        </div>
    </div>
</section>