<nav class="navbar has-shadow is-white" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="./logo.png" alt="Best Paws Logo" style="max-height: 50px" class="py-2 px-2">
            </a>
            <h1 class="is-size-2 has-text-success has-background-white pt-2">Best Paws</h1>
            <a class="navbar-burger" id="burger" role="button">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links" role="button">
            <div class="navbar-end">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/gallery">Gallery</a>
                <a class="navbar-item" href="/forum">Forum</a>
                <a class="navbar-item" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h3 class="title has-text-centered is-size-3">Meet the Best Paws Team!</h3>
            <div class="columns mt-4 is-1 is-variable">
                <div class="column is-3-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="./anna.png" alt="Paw 1">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>"Paw 1"</p>
                            <p class="title is-size-5">Anna P.</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <a href="https://github.com/a-ukp" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
                
                <div class="column is-3-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="./carlos.png" alt="Paw 2">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>"Paw 2"</p>
                            <p class="title is-size-5">Carlos B.</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <a href="https://github.com/WitnessMyHands" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="column is-3-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="./ram.png" alt="Paw 3">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>"Paw 3"</p>
                            <p class="title is-size-5">Ramiro F.</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <a href="https://github.com/ramflorez" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="column is-3-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="./paul.png" alt="Paw 4">
                        </div>
                        <div class="card-content has-text-centered">
                            <p>"Paw 4"</p>
                            <p class="title is-size-5">Paul T.</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <a href="https://github.com/Pgturn68" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
        <p>&copy; 2021 Best Paws created by:<a href="https://github.com/WitnessMyHands" class="nav-item"> WitnessMyHands</a>,<a href="https://github.com/a-ukp" class="nav-item"> a-ukp</a>,<a href="https://github.com/Pgturn68" class="nav-item"> PGTurn68</a> and<a href="https://github.com/ramflorez" class="nav-item"> ramflorez</a>.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="./script.js" type="text/javascript"></script>