<!-- Start Video Background -->
<div class="video-background" role="background">
    <video preload autoplay muted loop id="myVideo">
    <source src="dogpark.mp4" type="video/mp4">
    </video>
</div>
<!-- End Video Background -->
    
<section class="section is-centered">
    <!-- Start Video Overlay Text -->
    <header role="banner">
        <div class="container">
            <h1 class="has-text-white has-text-centered is-size-2">
                LOOKIN' GOOD,<br />
                FELINE GOOD!
            </h1>
            <h2>
                JOIN THE FRIENDLIEST ONLINE PET COMMUNITY!
            </h2>
        </div> 
        
        <div class="field has-addons has-addons-centered pt-3">
            <div class="control">
                <a class="button is-primary" href="/signup">Join the Paws Family</a>
            </div>
        </div>
    </header>
    <!-- End Video Overlay Text -->

    <!-- Start About Us Section -->
    <div class="main-content">
        <div class="section-light about-us" id="about-us">
            <div class="container">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">For the love of Pets!</h1>
            </div>
            <br />
            <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                <p class="is-larger">
                <strong>
                    A close knit online community where our four-legged friends come first.
                </strong>
                </p>
                <br />
                <p>
                    Join us as we bring to you topics relevant to taking care of your pets, pet training,
                    health related information and all questions brought forth from the pet community.
                </p>
                <br />
                <div class="control">
                    <a class="button is-primary" href="/signup">Sign Up Here</a>
                </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
                <!-- Rails? -->
                <img class="is-rounded" src="/images/toyger.jpg" alt="Toyger" />
            </div>
            </div>
        </div>
    </div>
    <!-- End About Us Section -->
</section>