<!-- Logo / Live Text -->
    <nav class="navbar has-shadow is-white" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="./images/logo.png" alt="Best Paws Logo" style="max-height: 50px" class="py-2 px-2">
            </a>
            <h1 class="is-size-2 has-text-success has-background-white pt-2">Best Paws</h1>
            <a class="navbar-burger" id="burger" role="button">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links" role="button">
            <div class="navbar-end">
                <a class="navbar-item" href="home.handlebars">Home</a>
                <a class="navbar-item" href="gallery.handlebars">Forum</a>
                <a class="navbar-item" href="team.handlebars">Team</a>
                <a class="navbar-item" href="contact.handlebars">Contact</a>
            </div>
        </div>
    </nav>

    <section>
        <div class="video-background" role="background">
            <video preload autoplay muted loop id="myVideo">
            <source src="dogpark.mp4" type="video/mp4">
            </video>
        </div>
            
        <header role="banner">
            <div class="container">
                <h1 class="has-text-white has-text-centered is-size-2">Find the closest dog park!</h1>
            </div> 
            
            <div class="field has-addons has-addons-centered pt-3">
                <div class="control has-icons-left" id="zipInput">
                    <input class="input is-success" type="text" id="zip-input" placeholder="Enter Zip Code" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-paw"></i>
                    </span>
                </div>

                <div class="control">
                    <button class="button is-success" type="submit" id="auto-complete">Search</a>
                </div>
            </div>
        </header>
    </section>
    
    <!--
    <div class="results-container" role="main">
        <div class="breed-result columns tile is-ancestor-section" id="display-results"></div>
    </div> 
    -->

    <footer class="footer">
        <div class="content has-text-centered">
        <p>&copy; 2021 Best Paws created by:<a href="https://github.com/WitnessMyHands" class="nav-item"> WitnessMyHands</a>,<a href="https://github.com/a-ukp" class="nav-item"> a-ukp</a>,<a href="https://github.com/Pgturn68" class="nav-item"> PGTurn68</a> and<a href="https://github.com/ramflorez" class="nav-item"> ramflorez</a>.</p>
        </div>
    </footer>

    <!-- Modal for Dogs API?
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content box">
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="./script.js" type="text/javascript"></script>