<section class="section">
    <div class="container">
        <div class="column">
            <div class="box content">
            <article class="post">
                <h4>
                    What is the best all natural dog/cat food?
                </h4>
                <div class="media">
                    <div class="media-content">
                        <div class="control">
                            <textarea class="textarea is-primary" placeholder="Leave us a Message!" required></textarea>
                        </div>                            
                        <div class="control">
                            <button class="button is-primary">Submit Post</button>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 31</span>
                    </div>
                </div>
            </article>
            </div>
        </div>
    </div>
</section>