<!-- Start Sign Up Form -->
<section class="section">
    <div class="container has-text-centered">
        <h3 class="title has-text-centered is-size-3">Sign Up</h3>
        <div class="login">
            <!-- <img src="./assets/images/logo.png" width="325px" /> -->
            <form>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Username</label>
                    <input class="input is-primary" type="username" placeholder="Pawlsum" autocomplete="username" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Email Address</label>
                    <input class="input is-primary" type="email" placeholder="hello@paws.com" autocomplete="username" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Password</label>
                    <input class="input is-primary" type="password" placeholder="Password" autocomplete="current-password" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Confirm Password</label>
                    <input class="input is-primary" type="password" placeholder="Confirm Password" autocomplete="current-password" required />
                </div>
            </div>
            <br />
            <!-- Start Selector Theme -->
            <div class="field">
                <label class="label">Which Paw?</label>
                <div class="control">
                    <label class="radio">
                    <input type="radio" name="answer">
                    Canine
                    </label>

                    <label class="radio">
                    <input type="radio" name="answer">
                    Feline
                    </label>

                    <label class="radio">
                    <input type="radio" name="answer">
                    Both
                    </label>
                </div>
            </div>
            <!-- End Selector Theme -->

            <!-- Start Terms and Conditions -->
            <div class="field pt-3">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox">
                    <!-- No Link -->
                    I agree to the <a href="#">Terms and Conditions</a>.
                    </label>
                </div>
            </div>
            <!-- End Terms and Conditions -->

            <button class="button is-primary" type="submit">
                Submit Form
            </button>
            </form>
            <br />
        </div>
    </div>
</section>
<!-- End Sign Up Form -->
<script src="/js/signup.js"></script>