<!-- Start Sign Up Form -->
<section class="section">
    <div class="container has-text-centered">
        <h3 class="title has-text-centered is-size-3">Sign Up</h3>
        <div class="login">
            <!-- <img src="./assets/images/logo.png" width="325px" /> -->
            <form class="signup-form" >
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Username</label>
                    <input id="name-signup" class="input is-primary" type="username" placeholder="Pawlsum" autocomplete="username" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Email Address</label>
                    <input id="email-signup" class="input is-primary" type="email" placeholder="hello@paws.com" autocomplete="username" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">Password (must be at least 4 characters)</label>
                    <input id="password-signup" class="input is-primary" type="password" placeholder="Password" autocomplete="current-password" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label has-text-centered">How many pets do you own? (optional)</label>
                    <input id="pets-signup" class="input is-primary" type="pets" required />
                </div>
            </div>

            <!-- Start Terms and Conditions -->
            <div class="field pt-3">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox">
                    <!-- No Link -->
                    I agree to the <a href="/terms" target="_blank">Terms and Conditions</a>.
                    </label>
                </div>
            </div>
            <!-- End Terms and Conditions -->

            <button class="button is-primary" type="submit">
                Submit Form
            </button>
            </form>
            <br />
        </div>
    </div>
</section>
<!-- End Sign Up Form -->
