<section class="section">
    <div class="container">
        <h3 class="title has-text-centered is-size-3">Terms and Conditions</h3>
        <div class="columns">
            <div class="column">
                <p class="has-text-centered">
                    I agree to believe that anything is paw-sible, and that I am a furr-tastic human!
                </p>
            </div>
        </div>
    </div>
</section>