/* Universal Selectors */
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "brandon-grotesque", sans-serif;
}

/* Fonts */
h1, h2, h3, p {
    font-weight: 600;
    font-family: "brandon-grotesque", sans-serif;
}

h2 {
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    font-family: "brandon-grotesque", sans-serif;
}

p {
    color: grey;
    font-size: 1.0rem;
    font-weight: 100;
    font-family: "brandon-grotesque", sans-serif;
}

/* Header */
header {
    padding-top: 10em;
    height: 100vh;
    text-align: center;
}

/* Button Width */
.input {
    width: 20em;
}

/* Homepage Video */
.video-background {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    overflow: hidden;
    display: block;
    box-sizing: border-box; 
}
 
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    object-fit: cover;
}

/* Sections */
section {
    position: relative;
    display: block;
    box-sizing: border-box;
    /* height: 100vh; */
}

main {
    padding-bottom: 65px;
}

/* Footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 12px;
    opacity: 85%;
    width: 100vw;
}

/* Responsive Elements */
@media screen and (max-width: 768px) {
.input {
    width: 25em;
}}

@media screen and (max-width: 576px) {
.input {
    width: 20em;
}}